:root {
    --body-text: black ;
    --site-background-colour: rgba(212, 80, 121, 1);
    --site-background: url("Background-cb.png");
    --header-background: rgb(255, 255, 255);
    --header-text: rgb(1, 1, 1);
    --header-text-hover: rgb(1, 1, 1);
    --filter-menu: rgb(30, 136, 229);
    --nav-tabs-colour: var(--filter-menu);
    --nav-tabs-hover: rgb(21, 75, 123);
    --nav-tabs-border-bottom-colour: lightgray;
    --select-colour: var(--filter-menu);
    --select-colour-hover: var(--nav-tabs-hover);
    --select-text-colour: white;
    --slider-colour: var(--filter-menu);
    --tooltip-colour: #6c6c6c;
    --tooltip-text: #fff;
    --button: var(--filter-menu);
    --button-text: white;
    --button-hover: var(--nav-tabs-hover);
    --box-button: rgba(212, 80, 121, 1);
    --box-button-hover: rgba(233, 225, 204, 1);
    --help: var(--filter-menu);
    --help-hover: var(--nav-tabs-hover);
    --help-internal-bg: var(--card-bg);
    --modal-header: var(--filter-menu);
    --modal-header-text: white;
    --form-input: var(--filter-menu);
    --navbar-text: var(--header-text);
    --filter-menu-text: white;
    --nav-tabs-text: black;
    --nav-tabs-text-hover: white;
    --card-bg: white;
    --slider-text: gray;
    --settings-filter: invert(0%) sepia(5%) saturate(0%) hue-rotate(340deg) brightness(94%) contrast(104%);
    --cube-side--front: rgb(212, 80, 121) !important;
    --cube-side--back: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--left: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--right: hsl(341.4, 60.6%, 34.4%) !important;
    --cube-side--top: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--bottom: hsl(341.4, 60.6%, 34.4%) !important;
    --spinner-bg: var(--cube-side--front);
}