:root {
    --body-text: rgb(201, 209, 217);
    --site-background-colour: rgba(212, 80, 121, 1);
    --site-background: url("Background-dm.png");
    --header-background: rgb(22, 27, 34);
    --header-text: white;
    --header-text-hover: white;
    --filter-menu: rgb(36, 44, 54);
    --nav-tabs-colour: var(--filter-menu);
    --nav-tabs-hover: rgb(52, 64, 79);
    --nav-tabs-border-bottom-colour: rgb(47, 54, 64);
    --select-colour: var(--filter-menu);
    --select-colour-hover: var(--nav-tabs-hover);
    --select-text-colour: white;
    --slider-colour: var(--filter-menu);
    --tooltip-colour: #6c6c6c;
    --tooltip-text: #fff;
    --button: var(--filter-menu);
    --button-text: var(--header-text);
    --button-hover: var(--nav-tabs-hover);
    --box-button: rgba(212, 80, 121, 1);
    --box-button-hover: rgba(233, 225, 204, 1);
    --help: var(--filter-menu);
    --help-hover: var(--nav-tabs-hover);
    --help-internal-bg: var(--card-bg);
    --modal-header: var(--filter-menu);
    --modal-header-text: white;
    --form-input: var(--filter-menu);
    --navbar-text: var(--header-text);
    --filter-menu-text: white;
    --nav-tabs-text: rgb(201, 209, 217);
    --nav-tabs-text-hover: rgb(161, 163, 166);
    --card-bg: rgb(22, 27, 34);
    --slider-text: gray;
    --settings-filter: invert(97%) sepia(0%) saturate(1090%) hue-rotate(51deg) brightness(117%) contrast(100%);
    --cube-side--front: rgb(212, 80, 121) !important;
    --cube-side--back: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--left: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--right: hsl(341.4, 60.6%, 34.4%) !important;
    --cube-side--top: hsl(341.4, 60.6%, 45.8%) !important;
    --cube-side--bottom: hsl(341.4, 60.6%, 34.4%) !important;
    --spinner-bg: var(--cube-side--front);
}